/node_modules
/examples
/web
/nodemon.json
/test.ts
/test-svg.svg
/tsconfig.json
/.github
/src
.nvmrc
./scripts
esbuild.js
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json

/native/node_modules
/native/tsconfig.json
/native/Image.tsx
/native/index.tsx