/node_modules
/examples
/web
/nodemon.json
/test.ts
/test-svg.svg
/tsconfig.json
/.github
/src
.nvmrc
./scripts
esbuild.js
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
/packages/ios-swift
/packages/android-kotlin
/packages/react-native
/packages/angular
/packages/nodejs
/packages/react
/packages/vanilla
/packages/vue